<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../Static/Imagenes/favicon.png" type="image/x-icon">
    <title>Agregar libros</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../index.html"> <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
            <h1 class="titulo">Laberinto de Letras</h1>
        </a>

        <div class="hamburger">
            <span class="lines"></span>
            <span class="lines"></span>
            <span class="lines"></span>
        </div>
        <nav class="navegacion">
            <ul id="nav-links" class="header-nav">
                <li><a href="../index.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Home.png" alt="Home"
                            class="icono">Inicio</a></li>
                <li><a href="#" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Book.png" alt="Book"
                            class="icono">Libros</a>
                    <ul class="sub-menu">
                        <li> <a href="./ciencia-ficcion.html" class="links"> Ciencia ficción </a></li>
                        <li> <a href="./fantasia.html" class="links"> Fantasía </a></li>
                        <li> <a href="./ficcion.html" class="links"> Ficción literaria </a></li>
                        <li> <a href="./misterio.html" class="links"> Misterio </a></li>
                        <li> <a href="./romantico.html" class="links"> Romántico </a></li>
                    </ul>
                </li>
                <li>
                    <a href="./Agregar_libros.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/add_book.png"
                            alt="agregar libro" class="icono" style="filter: invert(1);">Agregar libro</a>
                </li>
                <li><a href="./contactos.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Contact.png"
                            alt="Contact" class="icono">Contactos</a></li>
                <li><a href="./login.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Login.png" alt="Login"
                            class="icono">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="book-banner">
            <div class="wrap-book-banner">
                <h2>Agregar un libro</h2>
                <h3 class="book-banner-subtitle">En esta sección se podra llevar a cabo la recomendacion de libros para
                    agregar a la pagina</h3>
            </div>
        </section>

        <section class="books-section">
            <div class="books-container">
                <section id="form">
                    <form action="#" id="form-books">
                        <div class="d-flex">
                            <div class="form-control d-flex-column">
                                <!-- <label for="title">Título</label> -->
                                <input type="text" class="input-search" name="title" id="title" placeholder="Titulo">
                            </div>
                            <div class="form-control d-flex-column">
                                <!-- <label for="author">Autor</label> -->
                                <input type="text" class="input-search" name="author" id="author" placeholder="Autor">
                            </div>
                            <div class="form-control d-flex-column">
                                <!-- <label for="genre">Genero</label> -->
                                <input type="text" class="input-search" name="genre" id="genre" placeholder="Genero">
                            </div>
                            <div class="form-control d-flex-column">
                                <!-- <label for="publisher">Editorial</label> -->
                                <input type="text" class="input-search" name="publisher" id="publisher-date"
                                    placeholder="Editorial">
                            </div>
                            <div class="form-control d-flex-column">
                                <!-- <label for="pages">Paginas</label> -->
                                <input type="number" class="input-search" name="pages" id="pages" placeholder="Páginas">
                            </div>
                            <div class="form-control d-flex-column">
                                <!-- <label for="isbn">ISBN</label> -->
                                <input type="number" class="input-search" name="isbn" id="isbn-form" placeholder="ISBN">
                            </div>
                            <input type="hidden" name="id" id="id-movie">
                            <button class="btn-cac" type="button" id="btn-save-movie">Agregar</button>
                        </div>
                    </form>
                </section>
                <section id="list" class="container">
                    <h3 class="h3-books">Listado de libros</h3>
                    <table id="list-table-movies" class="table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Autor</th>
                                <th>Genero</th>
                                <th>Editorial</th>
                                <th>Paginas</th>
                                <th>ISBN</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-table-movies">
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </main>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <ul>
                    <li><a href="#" class="message">Empleos (Proximamente)</a></li>
                    <li><a href="#" class="message">Acerca de nosotros (Proximamente)</a></li>
                    <li><a href="#" class="message">Asistencia (Proximamente)</a></li>
                    <li><a href="./contactos.html">Contacto</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <div class="iconos-redes">
                        <a class="message instagram" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-instagram'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message facebook" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-facebook-circle'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message twitter" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-twitter'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message youtube" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-youtube'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <p>&copy; 2024 <b>Codo a Codo</b> Todos los Derechos reservados.</p>
        </div>
    </footer>

    <script src="../Static/js/Animaciones.js"></script>
    <script src="../Static/js/Hamburguesa.js"></script>

</body>

</html>