<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <link rel="shortcut icon" href="../Static/Imagenes/favicon.png" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Login</title>
</head>

<body>
  <header class="header">
    <a class="logo" href="../index.html"> <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
      <h1 class="titulo">Laberinto de Letras</h1>
    </a>

    <div class="hamburger">
      <span class="lines"></span>
      <span class="lines"></span>
      <span class="lines"></span>
    </div>
    <nav class="navegacion">
      <ul id="nav-links" class="header-nav">
        <li><a href="../index.html" class="links" onmouseover="activarAnimacion(event)"
            onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Home.png" alt="Home"
              class="icono">Inicio</a></li>
        <li><a href="#" class="links" onmouseover="activarAnimacion(event)" onmouseleave="detenerAnimacion(event)"><img
              src="../Static/Imagenes/Icons/Book.png" alt="Book" class="icono">Libros</a>
          <ul class="sub-menu">
            <li> <a href="./ciencia-ficcion.html" class="links"> Ciencia ficción </a></li>
            <li> <a href="./fantasia.html" class="links"> Fantasía </a></li>
            <li> <a href="./ficcion.html" class="links"> Ficción literaria </a></li>
            <li> <a href="./misterio.html" class="links"> Misterio </a></li>
            <li> <a href="./romantico.html" class="links"> Romántico </a></li>
          </ul>
        </li>
        <li><a href="./contactos.html" class="links" onmouseover="activarAnimacion(event)"
            onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Contact.png" alt="Contact"
              class="icono">Contactos</a></li>
        <li><a href="./login.html" class="links" onmouseover="activarAnimacion(event)"
            onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Login.png" alt="Login"
              class="icono">Login</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-login">
    <div class="login-container">
      <h2 class="h2-login">Iniciar sesión</h2>
      <form action="#" class="form-login">
        <div class="input-login">
          <input type="text" id="username" name="username" placeholder="Usuario" required>
        </div>
        <span class="error" id="error-username"></span>
        <div class="input-login">
          <input type="password" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <span class="error" id="error-password"></span>
        <button class="login-button" type="button">Iniciar sesión</button>
      </form>
      <div class="button-goto-register">
        <a href="registro.html" class="goto-register">No tienes cuenta? Registrate</a>
      </div>

    </div>
  </main>
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="../index.html">
            <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <ul>
          <li><a href="#" class="message">Empleos (Proximamente)</a></li>
          <li><a href="#" class="message">Acerca de nosotros (Proximamente)</a></li>
          <li><a href="#" class="message">Asistencia (Proximamente)</a></li>
          <li><a href="./contactos.html">Contacto</a></li>
        </ul>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <div class="iconos-redes">
            <a class="message instagram" href="#" onmouseover="showPopup(event)" onmouseleave="hidePopup(event)"><i
                class='bx bxl-instagram'></i>
              <span class="popup-message">Función disponible próximamente</span></a>
            <a class="message facebook" href="#" onmouseover="showPopup(event)" onmouseleave="hidePopup(event)"><i
                class='bx bxl-facebook-circle'></i>
              <span class="popup-message">Función disponible próximamente</span></a>
            <a class="message twitter" href="#" onmouseover="showPopup(event)" onmouseleave="hidePopup(event)"><i
                class='bx bxl-twitter'></i>
              <span class="popup-message">Función disponible próximamente</span></a>
            <a class="message youtube" href="#" onmouseover="showPopup(event)" onmouseleave="hidePopup(event)"><i
                class='bx bxl-youtube'></i>
              <span class="popup-message">Función disponible próximamente</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <p>&copy; 2024 <b>Codo a Codo</b> Todos los Derechos reservados.</p>
    </div>
  </footer>

  <script src="../Static/js/Login.js"></script>
  <script src="../Static/js/Animaciones.js"></script>
  <script src="../Static/js/Hamburguesa.js"></script>

</body>

</html>