<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto de Letras</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Static/css/styles.css">
    <link rel="shortcut icon" href="../Static/Imagenes/favicon.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a class="logo" href="../index.html"> <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
            <h1 class="titulo">Laberinto de Letras</h1>
        </a>

        <div class="hamburger">
            <span class="lines"></span>
            <span class="lines"></span>
            <span class="lines"></span>
        </div>
        <nav class="navegacion">
            <ul id="nav-links" class="header-nav">
                <li><a href="../index.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Home.png" alt="Home"
                            class="icono">Inicio</a></li>
                <li><a href="#" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Book.png" alt="Book"
                            class="icono">Libros</a>
                    <ul class="sub-menu">
                        <li> <a href="./ciencia-ficcion.html" class="links"> Ciencia ficción </a></li>
                        <li> <a href="./fantasia.html" class="links"> Fantasía </a></li>
                        <li> <a href="./ficcion.html" class="links"> Ficción literaria </a></li>
                        <li> <a href="./misterio.html" class="links"> Misterio </a></li>
                        <li> <a href="./romantico.html" class="links"> Romántico </a></li>
                    </ul>
                </li>
                <li><a href="./contactos.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Contact.png"
                            alt="Contact" class="icono">Contactos</a></li>
                <li><a href="./login.html" class="links" onmouseover="activarAnimacion(event)"
                        onmouseleave="detenerAnimacion(event)"><img src="../Static/Imagenes/Icons/Login.png" alt="Login"
                            class="icono">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <section id="libros-genero">
                <div class="titulo-genero">
                    <h2>Libros de Romántico</h2>
                </div>
                <div id="contenedor-libros">
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/antes-de-que-se-enfrie-el-cafe.jpg"
                                alt="Antes de que se Enfrie el cafe" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Antes de Que se
                                        Enfríe el Café</span></a></p>
                            <p class="genero-libro">Romántico</p>
                            <p class="autor">Kawaguchi, Toshikazu</p>
                            <p class="precio">$20.999,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/fabricante-de-lagrimas.jpg"
                                alt="Fabricante de lágrimas" width="168" height="240"></a>
                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Fabricante de
                                        Lágrimas</span></a></p>
                            <p class="genero-libro">Romántico</p>
                            <p class="autor">Doom, Erin</p>
                            <p class="precio">$34.999,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-formidable-señorita-mason.jpg"
                                alt="La Formidable Señorita Manon" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>La Formidable
                                        Señorita Manon</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Bonelli, Florencia</p>
                            <p class="precio">$32.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/adios-cachorra.jpg" alt="Adios Cachorra" width="168"
                                height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Adios
                                        Cachorra</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Numer, Lucia</p>
                            <p class="precio">$23.500,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/lo-que-la-nieve-susurra-al-caer.jpg"
                                alt="Lo Que la Nieve Susurra al Caer" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Lo Que La Nieve
                                        Susurra al Caer</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Martinez, María</p>
                            <p class="precio">$17.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/amor-y-otras-palabras.jpg" alt="Amor y Otras Palabras"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Amor y Otras
                                        Palabras</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Lauren, Christina</p>
                            <p class="precio">$20.000,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-vuelo-de-la-libelula.jpg"
                                alt="El Vuelo de la Libelula" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>El Vuelo de la
                                        Libelula</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Exilart, Gabriela</p>
                            <p class="precio">$22.799,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/73-margaritas.jpg" alt="73 Margaritas" width="168"
                                height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>73
                                        Margaritas</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Digregorio, Cecilia</p>
                            <p class="precio">$19.399,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/una-luna-sin-miel.jpg" alt="Una Luna sin Miel"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Una Luna Sin
                                        Miel</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Lauren, Christina; Billings Lauren</p>
                            <p class="precio">$16.000,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/persiguiendo-a-silvia.jpg" alt="Persiguiendo a Silvia"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Persiguiendo a
                                        Silvia</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Benavent, Elisabeth</p>
                            <p class="precio">$29.299,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/lo-nuestro-fue-real.webp" alt="Lo Nuestro Fue real"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Lo Nuestro fue
                                        Real</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Oyhanarte, Rosario</p>
                            <p class="precio">$15.299,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/tiempo-de-renacer.webp" alt="Tiempo de Renacer"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Tiempo de
                                        Renacer</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Perez, Cristina</p>
                            <p class="precio">$19.999,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/experimento-de-amor-en-nueva-york.jpg"
                                alt="Experimento de Amor en Nueva York" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Experimento de
                                        Amor en Nuev York</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Armas, Elena</p>
                            <p class="precio">$17.000,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/farsa-de-amor-a-la-española.jpg"
                                alt="Farsa de Amor a la Española" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Farsa de Amor a la
                                        Española</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Armas, Elena</p>
                            <p class="precio">$17.00,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/los-dos-amores-de-mi-vida.jpg"
                                alt="Los Dos Amores de mi Vida" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Los Dos Amores de
                                        mi Vida</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Jenkins Reid,Taylor</p>
                            <p class="precio">$28.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-libro-mas-lindo-del-mundo.jpg"
                                alt="El Libro mas Lindo del Mundo" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>El Libro Más Lindo
                                        del Mundo</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Oyhanarte, Rosario</p>
                            <p class="precio">$15.299,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-hermandad-de-las-malas-hijas.webp"
                                alt="La Hermandad de las Malas Hijas" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>La Hermandad de
                                        las Malas Hijas</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Montfort, Vanessa</p>
                            <p class="precio">$29.299,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-color-de-las-cosas-invisibles.jpg"
                                alt="El Color de las Cosas Invisibles" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>El Color de las
                                        Cosas Invisibles</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Longarela, Andrea</p>
                            <p class="precio">$25.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/apia-de-roma.jpg" alt="Apia de Roma" width="168"
                                height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Apia de
                                        Roma</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Rivero, Viviana</p>
                            <p class="precio">$32.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/la-amiga-estupenda.webp" alt="La Amiga Estupenda"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>La Amiga
                                        Estupenda</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Ferrante, Elena</p>
                            <p class="precio">$23.399,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/el-senor-numero-desconocido.jpg"
                                alt="El Señor Numero Desconocido" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>El Señor Número
                                        Desconocido</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Painter, Lynn</p>
                            <p class="precio">$18.600,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/donde-todo-brilla.webp" alt="Donde Todo Brilla"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Donde Todo
                                        Brilla</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Kellen, Alice</p>
                            <p class="precio">$$29.900,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/encontrando-a-silvia.webp" alt="Encontrando a Silvia"
                                width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Encontrando a
                                        Silvia</span></a></p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Benavent, Elisabeth</p>
                            <p class="precio">$20.999,00</p>
                        </div>
                    </div>
                    <div class="libros">
                        <a href="./Libros/en-agosto-nos-vemos.html" class="portada-libro"><img
                                src="../Static/Imagenes/Portadas/rose.jpg" alt="Rose" width="168" height="240"></a>

                        <div class="detalles-libro">
                            <p class="titulo-libro"><a href="./Libros/en-agosto-nos-vemos.html"><span>Rose</span></a>
                            </p>
                            <p class="genero-libro">Romantico</p>
                            <p class="autor">Ramos, Graciela</p>
                            <p class="precio">$20.999,00</p>
                        </div>
                    </div>

                </div>
            </section>
            <div class="pagination" id="pagination">
                <a href="#" id="prev" class="page-ctrl">Anterior</a>
                <a href="#" class="page-link" data-page="1">1</a>
                <a href="#" class="page-link" data-page="2">2</a>
                <a href="#" id="next" class="page-ctrl">Siguiente</a>
                <p id="page-numbers"> </p>
            </div>

        </div>
    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../Static/Imagenes/lab1.png" alt="logo-laberinto">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <ul>
                    <li><a href="#" class="message">Empleos (Proximamente)</a></li>
                    <li><a href="#" class="message">Acerca de nosotros (Proximamente)</a></li>
                    <li><a href="#" class="message">Asistencia (Proximamente)</a></li>
                    <li><a href="./contactos.html">Contacto</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <div class="iconos-redes">
                        <a class="message instagram" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-instagram'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message facebook" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-facebook-circle'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message twitter" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-twitter'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                        <a class="message youtube" href="#" onmouseover="showPopup(event)"
                            onmouseleave="hidePopup(event)"><i class='bx bxl-youtube'></i>
                            <span class="popup-message">Función disponible próximamente</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <p>&copy; 2024 <b>Codo a Codo</b> Todos los Derechos reservados.</p>
        </div>
    </footer>

    <script src="../Static/js/Animaciones.js"></script>
    <script src="../Static/js/Hamburguesa.js"></script>
    <script src="../Static/js/pagination.js"></script>

</body>

</html>